#clockContainer {
  height: 40vw;
  margin: auto;
  width: 40vw;
  /* border: 2px solid red; */
  background: url(./clock.png) no-repeat;
  background-size: cover;
  position: relative;
}
#hour,
#minute,
#second {
  background: black;
  position: absolute;
  border-radius: 10px;
  transform-origin: bottom;
}
#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 49%;
}
#minute {
  width: 1.6%;
  left: 49%;
  top: 18%;
  /* display: none; */
  height: 30%;
}
#second {
  width: 1%;
  height: 37%;
  top: 15%;
  left: 49%;
  /* display: none; */
}
